<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Pari Investment Limited</title>
  <link rel="stylesheet" href="../css/style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  

</head>
<body>
  <!-- partial:index.partial.html -->
<div class="js-header-wrap ag-header-wrap">
  <header class="ag-header">
    <div class="ag-format-container clearfix">
      <a class="ag-logo_link" href="#">
        <img class="ag-logo_img" src="../images/parilogo.png" alt="Pari Investment – Company Limited">
        <div class="ag-logo_tagline">Hr Solutions that <strong class="ag-logo_tagline__strong">work for you </strong></div>
        <img class="ag-logo_img-mobile" src="../images/parilogo.png" alt="Pari Investment – Company Limited">
      </a>

      <div class="js-menu_btn-wrap ag-menu_btn-wrap">
        <div class="ag-menu_btn"></div>
      </div>

      <!--
      <div class="ag-navbar-block">
       <a href="/registration" class="ag-start_btn-reg">Registration</a>

        <div class="ag-start-block">
          <a href="/login" class="js-start-login_link ag-start-login_link">Log in</a>
          <div class="js-start-login_panel ag-start-login_panel">
            <div class="js-start-login_panel-arrow ag-start-login_panel-arrow"></div>
            <form id="ag-start-login_form" class="ag-start-login_form" action="/login" accept-charset="UTF-8" method="post">
              <div class="ag-start-login_title-form">Log in</div>
              <div class="ag-start-login_field">
                <label class="ag-start-login_label" for="ag-start-login_input-email">Email:</label>
                <input id="ag-start-login_input-email" class="ag-start-login_input" autofocus="autofocus" name="user[email]" type="email">
              </div>

              <div class="ag-start-login_field">
                <label class="ag-start-login_label" for="ag-start-login_input-password">Password:</label>
                <input id="ag-start-login_input-password" class="ag-start-login_input" name="user[password]" type="password">
              </div>
              <div class="ag-start-login_btn-wrap">
                <input class="ag-start-login_btn" name="login_submit" value="Log in" type="submit">
                <a href="/password_recovery" class="ag-start-login_link-recover">Forgot your password?</a>
              </div>
            </form>
          </div>
        </div>

        
      </div>
 -->
    </div>
  </header>

  <div class="js-menu-block ag-menu-block">
    <div class="ag-format-container">
      <nav class="js-menu_nav ag-menu_nav">
       

        <!--
          <div class="ag-mob-login_box">
            <a href="/login" class="ag-mob-login_link">Log in</a>
          </div>
  -->
        <ul class="ag-menu_list">
          <li class="ag-menu_item">
            <a href="../index.html" class="ag-menu_link-item">Home</a>
          </li>
          <li class="ag-menu_item">
            <a href="about.html" class="ag-menu_link-item">About Us</a>
          </li>
          <li class="ag-menu_item ag-menu-parent_item">
            <a href="../components/services.html" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Our Services</a>
                  <ul class="js-menu-subcat_list ag-menu-subcat_list">
                    <li class="ag-menu-subcat_item">
                      <a href="./ourservices/hrstrategy.html" class="ag-menu-subcat_link-item">HR Strategy Development</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./ourservices/performancemanage.html" class="ag-menu-subcat_link-item">Performance Management & Employee Development
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./ourservices/compliance.html" class="ag-menu-subcat_link-item">Compliance & Policy Development
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./ourservices/employeerelation.html" class="ag-menu-subcat_link-item">Employee Relations & Conflict Resolution
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./ourservices/training.html" class="ag-menu-subcat_link-item">Training & Development
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./ourservices/payroll.html" class="ag-menu-subcat_link-item">Payroll Management
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./ourservices/recruitment.html" class="ag-menu-subcat_link-item">Recruitment Services
                      </a>
                    </li>
                  </ul>
          </li>
          <li class="ag-menu_item ag-menu-parent_item">
            <a href="#services" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Industries We Serve</a>
                  <ul class="js-menu-subcat_list ag-menu-subcat_list">
                    <li class="ag-menu-subcat_item">
                      <a href="./industry/corporate.html" class="ag-menu-subcat_link-item">Corporate</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./industry/healthcare.html" class="ag-menu-subcat_link-item">Healthcare
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./industry/education.html" class="ag-menu-subcat_link-item">Education
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./industry/manufacturing.html" class="ag-menu-subcat_link-item">Manufacturing
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./industry/retail.html" class="ag-menu-subcat_link-item">Retail
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./industry/technology.html" class="ag-menu-subcat_link-item">Technology
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./industry/non-profit.html" class="ag-menu-subcat_link-item">Non-Profit
                      </a>
                    </li>
                  </ul>
          </li>
          <li class="ag-menu_item ag-menu-parent_item">
            <a href="#" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Contact Us</a>
                  <ul class="js-menu-subcat_list ag-menu-subcat_list">
                    <li class="ag-menu-subcat_item">
                      <a href="./contact/consultation.html" class="ag-menu-subcat_link-item">Request a Consultation</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./contact/location.html" class="ag-menu-subcat_link-item">Office Locations</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./contact/inquiries.html" class="ag-menu-subcat_link-item">Support & Inquiries</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./contact/faqs.html" class="ag-menu-subcat_link-item">FAQs</a>
                    </li>
                  </ul>
          </li>
          <li class="ag-menu_item">
            <a href="career.html" class="ag-menu_link-item">Careers</a>
          </li>
          
          <li class="ag-menu_item ag-menu-parent_item">
            <a href="#" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Resources</a>
                  <ul class="js-menu-subcat_list ag-menu-subcat_list">
                    <li class="ag-menu-subcat_item">
                      <a href="./resources/whitepapers.html" class="ag-menu-subcat_link-item">White Papers</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./resources/casestudy.html" class="ag-menu-subcat_link-item">Case Studies</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./resources/E-books.html" class="ag-menu-subcat_link-item">E-books</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./resources/hrtools.html" class="ag-menu-subcat_link-item">HR Tools & Templates</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="./resources/webinars.html" class="ag-menu-subcat_link-item">Webinars & Events</a>
                    </li>
                  </ul>
          </li>
         
          
          <li class="ag-menu_item ag-menu-parent_item">
            <a href="#" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Client Portal</a>
                    <ul class="js-menu-subcat_list ag-menu-subcat_list">
                     <!-- <li class="ag-menu-subcat_item">
                        <a href="./client/login.html" class="ag-menu-subcat_link-item">Client Login</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="./client/project.html" class="ag-menu-subcat_link-item">Project Dashboard</a>
                      </li> -->
                      <li class="ag-menu-subcat_item">
                        <a href="./client/service.html" class="ag-menu-subcat_link-item">Service Reports</a>
                      </li>
                    <!--  <li class="ag-menu-subcat_item">
                        <a href="./client/billing.html" class="ag-menu-subcat_link-item">Billing & Payments</a>
                      </li> -->
                    </ul>
          </li>
          <li class="ag-menu_item ag-menu-parent_item">
            <a href="blog.html" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Blog/News</a>
                    <ul class="js-menu-subcat_list ag-menu-subcat_list">
                      <li class="ag-menu-subcat_item">
                        <a href="./blog/blog.html" class="ag-menu-subcat_link-item">HR Industry Insights
                        </a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="./blog/announcement.html" class="ag-menu-subcat_link-item">Company Announcements</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="./blog/blog.html" class="ag-menu-subcat_link-item">Latest Trends in HR</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="./blog/leadership.html" class="ag-menu-subcat_link-item">Leadership & Development</a>
                      </li>
                    </ul>
          </li>
        </ul>

        <div class="js-search_btn ag-search_btn"></div>
        <div class="js-search-block ag-search-block">
          <form id="ag-search_form" class="ag-search_form" action="#" name="search-form" method="GET" target="_self">
            <input name="search_id" value="1" type="hidden">
            <input name="l10n" value="ru" type="hidden">
            <input name="reqenc" value="" type="hidden">
            <input name="do_search" value="Y" type="hidden">
            <div class="ag-search_field">
              <div id="ag-search_btn-submit" class="ag-search_btn-submit"></div>
              <input name="text" class="js-search_input ag-search_input" type="text" title="">
              <div class="js-search_btn-close ag-search_btn-close"></div>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>
</div>





<main class="aboutz">
  <div class="containerz">
    <section class="grid info">
      <div class="column-xs-12 column-md-1">
        <div class="about">
        <h1 class="section-heading">About Us</h1>
        </div>
      </div>
      <div class="column-xs-12 column-md-4">
        <img src="../images/hr4.jpeg">
      </div>
      <div class="column-xs-12 column-md-7">
        <div class="intro">
          <h2>PARI Investment Company Limited</h2>
          <p>At PARI Investment Company Limited, we pride ourselves on being a trusted partner in helping organizations achieve excellence through effective human resource management. As a leading consultancy firm, we offer world-class, result-oriented, and tailored solutions to meet the unique needs of our diverse clients.</p>
          <p>Our team of experienced professionals is dedicated to empowering businesses by optimizing HR strategies, enhancing workforce performance, and promoting sustainable growth. We believe in creating value through innovation, compliance, and exceptional client service.</p>
         </div>
      </div>
      <div class="column-xs-12 column-md-7">
        <blockquote>
          <h3>Our Vision:</h3>
          <p>To offer world-class, reliable, result-oriented, efficient, and value-added consultancy services to all clients.</p>
          <h3>Our Mission:</h3>
          <p>We are committed to providing tailored, efficient, and innovative consultancy services that align with our clients' goals at competitive rates.</p>
         </blockquote>
      </div>
      <div class="column-xs-12 column-md-5">
        <img src="../images/hr3.jpeg">
      </div>
    </section>
  </div>
</main>




<div class="vcenter">
  <section class="sectionz">
    <div class="containerz">
    <header class="sectionz-header">
      <h1 class="sectionz-title">Our Team</h1>
      <p>Meet the professionals who drive success through innovative HR solutions.</p>
    </header>
    <ul class="teamz">
      <li class="teamz__members">
         <div class="userProfilez" >
          <figure class="userProfilez__thumbnail">
            <img src="https://randomuser.me/api/portraits/men/28.jpg" alt="Photo" class="userProfilez__image">
          </figure>
        
  
        </div>
        <div class="teamz__details">
            <header class="teamz__meta">
              <h3 class="teamz__meta__title">Javier Bates</h3>
              <div class="teamz__meta__designation">Talent Acquisition Lead</div>
          </header>
          <div class="teamz__details__summery">
            With over a decade of experience, Javier specializes in recruiting top talent
             and creating workforce strategies that drive organizational success.
          </div>
        </div>
      </li>
      <li class="teamz__members">
         <div class="userProfilez"  >
          <figure class="userProfilez__thumbnail">
            <img src="https://randomuser.me/api/portraits/women/45.jpg" alt="Photo" class="userProfilez__image">
          </figure>
        
  
        </div>
        <div class="teamz__details">
            <header class="teamz__meta">
              <h3 class="teamz__meta__title">Stacey Cooper</h3>
              <div class="teamz__meta__designation">Learning & Development Manager</div>
          </header>
          <div class="teamz__details__summery">
            Stacey designs innovative training programs to empower employees and foster
             a culture of continuous growth and improvement.
          </div>
        </div>
      </li>
      <li class="teamz__members">
         <div class="userProfilez"  >
          <figure class="userProfilez__thumbnail">
            <img src="https://randomuser.me/api/portraits/women/84.jpg" alt="Photo" class="userProfilez__image">
          </figure>
        
  
        </div>
        <div class="teamz__details">
            <header class="teamz__meta">
              <h3 class="teamz__meta__title">Celina Ross</h3>
              <div class="teamz__meta__designation">Employee Relations Specialist</div>
          </header>
          <div class="teamz__details__summery">
            Celina focuses on building positive workplace relationships, ensuring
             employee satisfaction, and resolving workplace challenges effectively.
          </div>
        </div>
      </li>
      <li class="teamz__members">
        <div class="userProfilez"  >
         <figure class="userProfilez__thumbnail">
           <img src="https://randomuser.me/api/portraits/women/84.jpg" alt="Photo" class="userProfilez__image">
         </figure>
       
 
       </div>
       <div class="teamz__details">
           <header class="teamz__meta">
             <h3 class="teamz__meta__title">Mark Johnson</h3>
             <div class="teamz__meta__designation">Payroll Specialist</div>
         </header>
         <div class="teamz__details__summery">
          Mark ensures accurate payroll processing and compliance, guaranteeing
           timely payments and smooth operations for all employees.
         </div>
       </div>
     </li>
     <li class="teamz__members">
      <div class="userProfilez"  >
       <figure class="userProfilez__thumbnail">
         <img src="https://randomuser.me/api/portraits/women/84.jpg" alt="Photo" class="userProfilez__image">
       </figure>
     

     </div>
     <div class="teamz__details">
         <header class="teamz__meta">
           <h3 class="teamz__meta__title">Celina Ross</h3>
           <div class="teamz__meta__designation">SBenefits Coordinator</div>
       </header>
       <div class="teamz__details__summery">
        Sophia crafts competitive benefits packages that attract and 
        retain top talent, ensuring employee satisfaction and well-being.
       </div>
     </div>
   </li>
   <li class="teamz__members">
     <div class="userProfilez"  >
      <figure class="userProfilez__thumbnail">
        <img src="https://randomuser.me/api/portraits/women/84.jpg" alt="Photo" class="userProfilez__image">
      </figure>
    

    </div>
    <div class="teamz__details">
        <header class="teamz__meta">
          <h3 class="teamz__meta__title">Evelyn Brooks</h3>
          <div class="teamz__meta__designation">HR Manager</div>
      </header>
      <div class="teamz__details__summery">
        Evelyn leads the team with a strategic approach, 
        aligning HR practices with business goals to drive growth and success.
      </div>
    </div>
  </li>
     
     
    </ul>
      </div>
  </section>
    </div>
  <!-- partial -->
   




<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Our Vision </h6>
        <p class="text-justify">To offer World class reliable, result-oriented 
          efficient and value-added consultancy services to all clients.</p>

        <h6>Our Mission</h6>
        <p class="text-justify">We are committed to offering reliable, result-oriented,
           efficient and value-added consultancy services to our varying clients at very 
           competitive rates.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="./ourservices/recruitment.html">Talent Acquisition</a></li>
        <li><a href="./ourservices/employeerelation.html">Employee Engagement</a></li>
        <li><a href="./ourservices/training.html">Leadership Development</a></li>
        <li><a href="./ourservices/hrstrategy.html">HR Outsourcing</a></li>
        <li><a href="./ourservices/performancemanage.html">Workforce Strategy</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#">About Us</a></li>
          <li><a href="./contact/location.html">Contact Us</a></li>
          <li><a href="./career.html">Careers</a></li>
          <li><a href="./services.html">Our Services</a></li>
          <li><a href="./blog/blog.html">Blog/News</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2025 All Rights Reserved by 
     <a href="#">Pari Investment Company Limited</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- partial -->
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script  src="../javascript/script.js"></script>
  </body>
  </html>
  