<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Pari Investment Limited</title>
  <link rel="stylesheet" href="../../css/style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
</head>
<body>
  <!-- partial:index.partial.html -->
  <div class="js-header-wrap ag-header-wrap">
    <header class="ag-header">
      <div class="ag-format-container clearfix">
        <a class="ag-logo_link" href="#">
          <img class="ag-logo_img" src="../../images/parilogo.png" alt="Pari Investment – Company Limited">
          <div class="ag-logo_tagline">Hr Solutions that <strong class="ag-logo_tagline__strong">work for you </strong></div>
          <img class="ag-logo_img-mobile" src="../../images/parilogo.png" alt="Pari Investment – Company Limited">
        </a>
  
        <div class="js-menu_btn-wrap ag-menu_btn-wrap">
          <div class="ag-menu_btn"></div>
        </div>
  
         <!--
      <div class="ag-navbar-block">
       <a href="/registration" class="ag-start_btn-reg">Registration</a>

        <div class="ag-start-block">
          <a href="/login" class="js-start-login_link ag-start-login_link">Log in</a>
          <div class="js-start-login_panel ag-start-login_panel">
            <div class="js-start-login_panel-arrow ag-start-login_panel-arrow"></div>
            <form id="ag-start-login_form" class="ag-start-login_form" action="/login" accept-charset="UTF-8" method="post">
              <div class="ag-start-login_title-form">Log in</div>
              <div class="ag-start-login_field">
                <label class="ag-start-login_label" for="ag-start-login_input-email">Email:</label>
                <input id="ag-start-login_input-email" class="ag-start-login_input" autofocus="autofocus" name="user[email]" type="email">
              </div>

              <div class="ag-start-login_field">
                <label class="ag-start-login_label" for="ag-start-login_input-password">Password:</label>
                <input id="ag-start-login_input-password" class="ag-start-login_input" name="user[password]" type="password">
              </div>
              <div class="ag-start-login_btn-wrap">
                <input class="ag-start-login_btn" name="login_submit" value="Log in" type="submit">
                <a href="/password_recovery" class="ag-start-login_link-recover">Forgot your password?</a>
              </div>
            </form>
          </div>
        </div>

        
      </div>
 -->
      </div>
    </header>
  
    <div class="js-menu-block ag-menu-block">
      <div class="ag-format-container">
        <nav class="js-menu_nav ag-menu_nav">
         
  
          <!--
          <div class="ag-mob-login_box">
            <a href="/login" class="ag-mob-login_link">Log in</a>
          </div>
  -->
  
          <ul class="ag-menu_list">
            <li class="ag-menu_item">
              <a href="../../index.html" class="ag-menu_link-item">Home</a>
            </li>
            <li class="ag-menu_item">
              <a href="../about.html" class="ag-menu_link-item">About Us</a>
            </li>
            <li class="ag-menu_item ag-menu-parent_item">
              <a href="../services.html" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Our Services</a>
                    <ul class="js-menu-subcat_list ag-menu-subcat_list">
                      <li class="ag-menu-subcat_item">
                        <a href="../ourservices/hrstrategy.html" class="ag-menu-subcat_link-item">HR Strategy Development</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../ourservices/performancemanage.html" class="ag-menu-subcat_link-item">Performance Management & Employee Development
                        </a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../ourservices/compliance.html" class="ag-menu-subcat_link-item">Compliance & Policy Development
                        </a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../ourservices/employeerelation.html" class="ag-menu-subcat_link-item">Employee Relations & Conflict Resolution
                        </a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../ourservices/training.html" class="ag-menu-subcat_link-item">Training & Development
                        </a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../ourservices/payroll.html" class="ag-menu-subcat_link-item">Payroll Management
                        </a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../ourservices/recruitment.html" class="ag-menu-subcat_link-item">Recruitment Services
                        </a>
                      </li>
                    </ul>
            </li>
            <li class="ag-menu_item ag-menu-parent_item">
              <a href="#" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Industry We Serve </a>
                    <ul class="js-menu-subcat_list ag-menu-subcat_list">
                      <li class="ag-menu-subcat_item">
                        <a href="../industry/corporate.html" class="ag-menu-subcat_link-item">Corporate</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../industry/healthcare.html" class="ag-menu-subcat_link-item">Healthcare
                        </a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../industry/education.html" class="ag-menu-subcat_link-item">Education
                        </a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../industry/manufacturing.html" class="ag-menu-subcat_link-item">Manufacturing
                        </a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../industry/retail.html" class="ag-menu-subcat_link-item">Retail
                        </a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../industry/technology.html" class="ag-menu-subcat_link-item">Technology
                        </a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../industry/non-profit.html" class="ag-menu-subcat_link-item">Non-Profit
                        </a>
                      </li>
                    </ul>
            </li>
            <li class="ag-menu_item ag-menu-parent_item">
              <a href="#" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Contact Us</a>
                    <ul class="js-menu-subcat_list ag-menu-subcat_list">
                      <li class="ag-menu-subcat_item">
                        <a href="../contact/consultation.html" class="ag-menu-subcat_link-item">Request a Consultation</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../contact/location.html" class="ag-menu-subcat_link-item">Office Locations</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../contact/inquiries.html" class="ag-menu-subcat_link-item">Support & Inquiries</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../contact/faqs.html" class="ag-menu-subcat_link-item">FAQs</a>
                      </li>
                    </ul>
            </li>
            <li class="ag-menu_item">
              <a href="../career.html" class="ag-menu_link-item">Careers</a>
            </li>
            
            <li class="ag-menu_item ag-menu-parent_item">
              <a href="#" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Resources</a>
                    <ul class="js-menu-subcat_list ag-menu-subcat_list">
                      <li class="ag-menu-subcat_item">
                        <a href="../blog/blog.html" class="ag-menu-subcat_link-item">Blog</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../resources/whitepapers.html" class="ag-menu-subcat_link-item">White Papers</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../resources/casestudy.html" class="ag-menu-subcat_link-item">Case Studies</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../resources/E-books.html" class="ag-menu-subcat_link-item">E-books</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../resources/hrtools.html" class="ag-menu-subcat_link-item">HR Tools & Templates</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../resources/webinars.html" class="ag-menu-subcat_link-item">Webinars & Events</a>
                      </li>
                    </ul>
            </li>
           
            
            <li class="ag-menu_item ag-menu-parent_item">
              <a href="#" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Client Portal</a>
                     <ul class="js-menu-subcat_list ag-menu-subcat_list">
                      <!--   <li class="ag-menu-subcat_item">
                          <a href="../client/login.html" class="ag-menu-subcat_link-item">Client Login</a>
                        </li>
                        <li class="ag-menu-subcat_item">
                          <a href="../client/project.html" class="ag-menu-subcat_link-item">Project Dashboard</a>
                        </li> -->
                        <li class="ag-menu-subcat_item">
                          <a href="../client/service.html" class="ag-menu-subcat_link-item">Service Reports</a>
                        </li>
                      <!--  <li class="ag-menu-subcat_item">
                          <a href="../client/billing.html" class="ag-menu-subcat_link-item">Billing & Payments</a>
                        </li> -->
                      </ul>
            </li>
            <li class="ag-menu_item ag-menu-parent_item">
              <a href="blog.html" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Blog/News</a>
                      <ul class="js-menu-subcat_list ag-menu-subcat_list">
                        <li class="ag-menu-subcat_item">
                          <a href="blog.html" class="ag-menu-subcat_link-item">HR Industry Insights
                          </a>
                        </li>
                        <li class="ag-menu-subcat_item">
                          <a href="../blog/announcement.html" class="ag-menu-subcat_link-item">Company Announcements</a>
                        </li>
                        <li class="ag-menu-subcat_item">
                          <a href="../blog/blog.html" class="ag-menu-subcat_link-item">Latest Trends in HR</a>
                        </li>
                        <li class="ag-menu-subcat_item">
                          <a href="../blog/leadership.html" class="ag-menu-subcat_link-item">Leadership & Development</a>
                        </li>
                      </ul>
            </li>
          </ul>
  
          <div class="js-search_btn ag-search_btn"></div>
          <div class="js-search-block ag-search-block">
            <form id="ag-search_form" class="ag-search_form" action="#" name="search-form" method="GET" target="_self">
              <input name="search_id" value="1" type="hidden">
              <input name="l10n" value="ru" type="hidden">
              <input name="reqenc" value="" type="hidden">
              <input name="do_search" value="Y" type="hidden">
              <div class="ag-search_field">
                <div id="ag-search_btn-submit" class="ag-search_btn-submit"></div>
                <input name="text" class="js-search_input ag-search_input" type="text" title="">
                <div class="js-search_btn-close ag-search_btn-close"></div>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>





<div class="location-section">
  <div class="container">
    <div class="location-title">
      <h2>Our Office Locations</h2>
    </div>
    <div class="location-description">
      <p>Explore our office locations to get in touch with us. Find the closest branch
         to your area for consultations, support, and more.</p>
    </div>

    <!-- Google Map -->
    <div class="map-container" id="map" ><button id="recenter-btn">Recenter</button></div>
    

    <script>
      document.addEventListener("DOMContentLoaded", function () {
          // Default coordinates
          var defaultCoords = [-1.3287866, 36.8906432970894];
    
          // Initialize the map
          var map = L.map('map').setView(defaultCoords, 15);
    
          // Add tile layer
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '© OpenStreetMap contributors'
          }).addTo(map);
    
          // Add marker
          var marker = L.marker(defaultCoords).addTo(map)
              .bindPopup("Pari Investment - Nairobi, Kenya")
              .openPopup();
    
          // Recenter button functionality
          document.getElementById("recenter-btn").addEventListener("click", function () {
              map.setView(defaultCoords, 15); // Reset map view
          });
      });
    </script>
    
    

    <!-- Office Address -->
    <div class="office-address">
      <p>Visit us at: <a href="https://www.google.com/maps?q=-1.3287866, 36.8906432970894" target="_blank">Pari Investment - Nairobi, Kenya</a></p>

    </div>

    <!-- Contact Info Cards -->
    <div class="contact-info">
      
      <a href="https://www.google.com/maps?q=-1.3287866, 36.8906432970894" target="_blank" style="text-decoration: none; color: inherit;">
        <div class="contact-card">
          <i class="fa fa-map-marker"></i>
          <h4>Our Office</h4>
          <p>Nairobi, Kenya</p>
        </div>
      </a>
      
    
      <div class="contact-card">
        <i class="fa fa-phone"></i>
        <h4>Phone</h4>
        <p>+254 111 568 212</p>
      </div>
      <div class="contact-card">
        <i class="fa fa-envelope"></i>
        <h4>Email</h4>
        <p>info@pariltd.co.ke</p>
      </div>
    </div>
    
  </div>
</div>



<style>
 
  .location-section {
    padding: 50px 0;
    background-color: #f8f9fa;
    margin-top: 50px;
  }
  @media only screen and (max-width: 767px) {
      .location-section {
    margin-top: 100px;
  }
}
  .location-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
  .location-description {
    text-align: center;
    margin-bottom: 40px;
    color: #666;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto 40px;
  }
  .map-container {
    position: relative;
    height: 400px;
    width: 90%;
    max-width: 100%;
    border-radius: 10px;
    margin: 0 auto; /* Centers the map container */
    display: block; /* Ensures proper centering */
    z-index: 1; /* Ensures it stays below the header */
  }
  .office-address {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 18px;
  }
  .office-address a {
    text-decoration: none;
    color: #8e44ad;
    font-weight: bold;
  }
  .contact-info {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  text-align: center;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

/* Recenter Button Styling */
#recenter-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #8e44ad;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it stays above the map */
  }

  #recenter-btn:hover {
    background-color: #732d91;
  }

.contact-card {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  transition: transform 0.3s ease;
  margin: 10px; /* Add margin to prevent items from sticking together */
}

.contact-card:hover {
  transform: translateY(-10px);
}

.contact-card h4 {
  color: #8e44ad;
  margin-bottom: 15px;
}

.contact-card p {
  color: #666;
}

.contact-card .fa {
  font-size: 24px;
  color: #8e44ad;
  margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contact-info {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
    margin-top: 20px; /* Adjust top margin */
  }

  .contact-card {
    width: 250px; /* Set a fixed width for better consistency */
    max-width: 90%; /* Ensure it doesn't exceed 90% of the screen */
    margin-bottom: 20px; /* Add space between cards */
  }
}

@media (max-width: 480px) {
  .contact-card {
    width: 280px; /* Set a fixed width for small screens */
    max-width: 90%; /* Prevent it from being too wide */
  }

  .contact-card h4 {
    font-size: 18px; /* Adjust the size of the title */
  }

  .contact-card p {
    font-size: 14px; /* Adjust the size of the text */
  }

  .contact-card .fa {
    font-size: 28px; /* Increase icon size */
  }
}

</style>






<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Our Vision </h6>
        <p class="text-justify">To offer World class reliable, result-oriented 
          efficient and value-added consultancy services to all clients.</p>

        <h6>Our Mission</h6>
        <p class="text-justify">We are committed to offering reliable, result-oriented,
           efficient and value-added consultancy services to our varying clients at very 
           competitive rates.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="../ourservices/recruitment.html">Talent Acquisition</a></li>
        <li><a href="../ourservices/employeerelation.html">Employee Engagement</a></li>
        <li><a href="../ourservices/training.html">Leadership Development</a></li>
        <li><a href="../ourservices/hrstrategy.html">HR Outsourcing</a></li>
        <li><a href="../ourservices/performancemanage.html">Workforce Strategy</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="../about.html">About Us</a></li>
          <li><a href="../contact/location.html">Contact Us</a></li>
          <li><a href="../career.html">Careers</a></li>
          <li><a href="../services.html">Our Services</a></li>
          <li><a href="../blog/blog.html">Blog/News</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2025 All Rights Reserved by 
     <a href="#">Pari Investment Company Limited</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- partial -->
  <script>
    function initMap() {
      var officeLocation = {lat: -1.055851, lng: 37.098797}; // Replace with your office location
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: officeLocation
      });
      var marker = new google.maps.Marker({
        position: officeLocation,
        map: map
      });
    }
  </script>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script  src="../../javascript/script.js"></script>
  </body>
  </html>
  