<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Pari Investment Limited</title>
  <link rel="stylesheet" href="../../css/style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  

</head>
<body>
  <!-- partial:index.partial.html -->
<div class="js-header-wrap ag-header-wrap">
  <header class="ag-header">
    <div class="ag-format-container clearfix">
      <a class="ag-logo_link" href="#">
        <img class="ag-logo_img" src="../../images/parilogo.png" alt="Pari Investment – Company Limited">
        <div class="ag-logo_tagline">Hr Solutions that <strong class="ag-logo_tagline__strong">work for you </strong></div>
        <img class="ag-logo_img-mobile" src="../../images/parilogo.png" alt="Pari Investment – Company Limited">
      </a>

      <div class="js-menu_btn-wrap ag-menu_btn-wrap">
        <div class="ag-menu_btn"></div>
      </div>

      <!--
      <div class="ag-navbar-block">
       <a href="/registration" class="ag-start_btn-reg">Registration</a>

        <div class="ag-start-block">
          <a href="/login" class="js-start-login_link ag-start-login_link">Log in</a>
          <div class="js-start-login_panel ag-start-login_panel">
            <div class="js-start-login_panel-arrow ag-start-login_panel-arrow"></div>
            <form id="ag-start-login_form" class="ag-start-login_form" action="/login" accept-charset="UTF-8" method="post">
              <div class="ag-start-login_title-form">Log in</div>
              <div class="ag-start-login_field">
                <label class="ag-start-login_label" for="ag-start-login_input-email">Email:</label>
                <input id="ag-start-login_input-email" class="ag-start-login_input" autofocus="autofocus" name="user[email]" type="email">
              </div>

              <div class="ag-start-login_field">
                <label class="ag-start-login_label" for="ag-start-login_input-password">Password:</label>
                <input id="ag-start-login_input-password" class="ag-start-login_input" name="user[password]" type="password">
              </div>
              <div class="ag-start-login_btn-wrap">
                <input class="ag-start-login_btn" name="login_submit" value="Log in" type="submit">
                <a href="/password_recovery" class="ag-start-login_link-recover">Forgot your password?</a>
              </div>
            </form>
          </div>
        </div>

        
      </div>
 -->
    </div>
  </header>

  <div class="js-menu-block ag-menu-block">
    <div class="ag-format-container">
      <nav class="js-menu_nav ag-menu_nav">
       

        <!--
          <div class="ag-mob-login_box">
            <a href="/login" class="ag-mob-login_link">Log in</a>
          </div>
  -->

        <ul class="ag-menu_list">
          <li class="ag-menu_item">
            <a href="../../index.html" class="ag-menu_link-item">Home</a>
          </li>
          <li class="ag-menu_item">
            <a href="../about.html" class="ag-menu_link-item">About Us</a>
          </li>
          <li class="ag-menu_item ag-menu-parent_item">
            <a href="../services.html" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Our Services</a>
                  <ul class="js-menu-subcat_list ag-menu-subcat_list">
                    <li class="ag-menu-subcat_item">
                      <a href="../ourservices/hrstrategy.html" class="ag-menu-subcat_link-item">HR Strategy Development</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../ourservices/performancemanage.html" class="ag-menu-subcat_link-item">Performance Management & Employee Development
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../ourservices/compliance.html" class="ag-menu-subcat_link-item">Compliance & Policy Development
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../ourservices/employeerelation.html" class="ag-menu-subcat_link-item">Employee Relations & Conflict Resolution
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../ourservices/training.html" class="ag-menu-subcat_link-item">Training & Development
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../ourservices/payroll.html" class="ag-menu-subcat_link-item">Payroll Management
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../ourservices/recruitment.html" class="ag-menu-subcat_link-item">Recruitment Services
                      </a>
                    </li>
                  </ul>
          </li>
          <li class="ag-menu_item ag-menu-parent_item">
            <a href="#" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Industry We Serve </a>
                  <ul class="js-menu-subcat_list ag-menu-subcat_list">
                    <li class="ag-menu-subcat_item">
                      <a href="../industry/corporate.html" class="ag-menu-subcat_link-item">Corporate</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../industry/healthcare.html" class="ag-menu-subcat_link-item">Healthcare
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../industry/education.html" class="ag-menu-subcat_link-item">Education
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../industry/manufacturing.html" class="ag-menu-subcat_link-item">Manufacturing
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../industry/retail.html" class="ag-menu-subcat_link-item">Retail
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../industry/technology.html" class="ag-menu-subcat_link-item">Technology
                      </a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../industry/non-profit.html" class="ag-menu-subcat_link-item">Non-Profit
                      </a>
                    </li>
                  </ul>
          </li>
          <li class="ag-menu_item ag-menu-parent_item">
            <a href="#" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Contact Us</a>
                  <ul class="js-menu-subcat_list ag-menu-subcat_list">
                    <li class="ag-menu-subcat_item">
                      <a href="../contact/consultation.html" class="ag-menu-subcat_link-item">Request a Consultation</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../contact/location.html" class="ag-menu-subcat_link-item">Office Locations</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../contact/inquiries.html" class="ag-menu-subcat_link-item">Support & Inquiries</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../contact/faqs.html" class="ag-menu-subcat_link-item">FAQs</a>
                    </li>
                  </ul>
          </li>
          <li class="ag-menu_item">
            <a href="../career.html" class="ag-menu_link-item">Careers</a>
          </li>
          
          <li class="ag-menu_item ag-menu-parent_item">
            <a href="#" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Resources</a>
                  <ul class="js-menu-subcat_list ag-menu-subcat_list">
                    <li class="ag-menu-subcat_item">
                      <a href="../blog/blog.html" class="ag-menu-subcat_link-item">Blog</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../resources/whitepapers.html" class="ag-menu-subcat_link-item">White Papers</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../resources/casestudy.html" class="ag-menu-subcat_link-item">Case Studies</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../resources/E-books.html" class="ag-menu-subcat_link-item">E-books</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../resources/hrtools.html" class="ag-menu-subcat_link-item">HR Tools & Templates</a>
                    </li>
                    <li class="ag-menu-subcat_item">
                      <a href="../resources/webinars.html" class="ag-menu-subcat_link-item">Webinars & Events</a>
                    </li>
                  </ul>
          </li>
         
          
          <li class="ag-menu_item ag-menu-parent_item">
            <a href="#" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Client Portal</a>
                    <ul class="js-menu-subcat_list ag-menu-subcat_list">
                     <!-- <li class="ag-menu-subcat_item">
                        <a href="../client/login.html" class="ag-menu-subcat_link-item">Client Login</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../client/project.html" class="ag-menu-subcat_link-item">Project Dashboard</a>
                      </li>-->
                      <li class="ag-menu-subcat_item">
                        <a href="../client/service.html" class="ag-menu-subcat_link-item">Service Reports</a>
                      </li>
                    <!--  <li class="ag-menu-subcat_item">
                        <a href="../client/billing.html" class="ag-menu-subcat_link-item">Billing & Payments</a>
                      </li>-->
                    </ul>
          </li>
          <li class="ag-menu_item ag-menu-parent_item">
            <a href="blog.html" class="js-menu-subcat_title-list ag-menu_link-item ag-menu-subcat_title-list">Blog/News</a>
                    <ul class="js-menu-subcat_list ag-menu-subcat_list">
                      <li class="ag-menu-subcat_item">
                        <a href="blog.html" class="ag-menu-subcat_link-item">HR Industry Insights
                        </a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../blog/announcement.html" class="ag-menu-subcat_link-item">Company Announcements</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../blog/blog.html" class="ag-menu-subcat_link-item">Latest Trends in HR</a>
                      </li>
                      <li class="ag-menu-subcat_item">
                        <a href="../blog/leadership.html" class="ag-menu-subcat_link-item">Leadership & Development</a>
                      </li>
                    </ul>
          </li>
        </ul>

        <div class="js-search_btn ag-search_btn"></div>
        <div class="js-search-block ag-search-block">
          <form id="ag-search_form" class="ag-search_form" action="#" name="search-form" method="GET" target="_self">
            <input name="search_id" value="1" type="hidden">
            <input name="l10n" value="ru" type="hidden">
            <input name="reqenc" value="" type="hidden">
            <input name="do_search" value="Y" type="hidden">
            <div class="ag-search_field">
              <div id="ag-search_btn-submit" class="ag-search_btn-submit"></div>
              <input name="text" class="js-search_input ag-search_input" type="text" title="">
              <div class="js-search_btn-close ag-search_btn-close"></div>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>
</div>



<main class="responsive-wrapper">
	<div class="page-title">
		<h1>Latest Updates</h1>
	</div>
	<div class="magazine-layout">
		<div class="magazine-column">
			<article class="article">
				<h2 class="article-title article-title--large">
					<a href="#" class="article-link">Five  Strategies to  <mark class="mark mark--primary">Retain Top Talent</mark> in a Competitive Market</a>
				</h2>
				<div class="article-excerpt">
					<p>Discover how to attract and retain the best employees by creating a culture of growth,</p>
					<p> recognition, and trust in your organization.
				</div>
				<div class="article-author">
					<div class="article-author-img">
						<img src="https://assets.codepen.io/285131/author-3.png" />
					</div>
					<div class="article-author-info">
						<dl>
							<dt>Sarah Johnson</dt>
							<dd>HR Consultan</dd>
						</dl>
					</div>
				</div>
			</article>
			<article class="article">
				<h2 class="article-title article-title--medium">
					<a href="#" class="article-link">The Importance of Diversity and Inclusion in the Workplace</a>
				</h2>
				<div class="article-creditation">
					<p>By Jane Kagame, Edwin Vany Dam, Aaron Mbugua and Alyssa Fowels</p>
				</div>
			</article>
		</div>
		<div class="magazine-column">
			<article class="article">
				<figure class="article-img">
					<img src="https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" />
				</figure>
				<h2 class="article-title article-title--medium">
					<a href="#" class="article-link">How Technology is Shaping the Future of HR</a>
				</h2>
				<div class="article-excerpt">
					<p>From AI-powered recruitment to employee engagement platforms, explore the tools revolutionizing the HR landscape.

                        The HR industry is undergoing a profound transformation, driven by innovative tools designed to optimize and
                         streamline HR processes. AI-powered recruitment tools now utilize predictive analytics and machine learning 
                         to identify the best talent, reducing the time spent on sourcing and screening candidates.<br><br> These tools can 
                         evaluate resumes, rank candidates based on predefined criteria, and even conduct initial assessments via 
                         chatbots.Employee engagement platforms are another game-changer, offering organizations real-time insights
                          into workforce satisfaction and productivity. These platforms often include pulse surveys, feedback mechanisms
                          , and recognition systems, helping HR teams foster a positive and inclusive workplace culture.</p>
				</div>
				<div class="article-author">
					<div class="article-author-img">
						<img src="https://assets.codepen.io/285131/author-2.png" />
					</div>
					<div class="article-author-info">
						<dl>
							<dt>Samanton Kling</dt>
							<dd>Editor</dd>
						</dl>
					</div>
				</div>
			</article>
		</div>
		<div class="magazine-column">
			<article class="article">
				<figure class="article-img">
					<img src="https://images.unsplash.com/photo-1512521743077-a42eeaaa963c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80" />
				</figure>
				<h2 class="article-title article-title--small">
					<a href="#" class="article-link">The Role of  <mark class="mark mark--secondary"> Leadership</mark> in Employee Engagement</a>
				</h2>
				<div class="article-creditation">
					<p>By Kevin Muthenye</p>
				</div>
			</article>
			<article class="article">
				<figure class="article-img">
					<img src="https://images.unsplash.com/photo-1569234817121-a2552baf4fd4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" />
				</figure>
				<h2 class="article-title article-title--small">
					<a href="#" class="article-link">Top HR Trends for 2025 You Need to Know</a>
				</h2>
				<div class="article-creditation">
					<p>By Sarah Johnson</p>
				</div>
			</article>
		</div>
		<div class="magazine-column">
			<article class="article">
				<h2 class="article-title article-title--medium">
					<a href="#" class="article-link">Improving Employee Wellness Through Effective Policies</a>
				</h2>
				<div class="article-excerpt">
					<p>Learn how robust wellness programs can boost employee morale and productivity in your organization....</p>
				</div>
				<div class="article-author">
					<div class="article-author-img">
						<img src="https://assets.codepen.io/285131/author-2.png" />
					</div>
					<div class="article-author-info">
						<dl>
							<dt>Emma Brown </dt>
							<dd>Senior Advisor</dd>
						</dl>
					</div>
				</div>
			</article>
			<article class="article">
				<small class="article-category">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28" height="22" viewBox="0 0 28 22">
  <defs>
    <clipPath id="clip-headphones">
      <rect width="28" height="22"/>
    </clipPath>
  </defs>
  <g id="headphones" clip-path="url(#clip-headphones)">
    <g id="Group_2" data-name="Group 2" transform="translate(-3680 -609)">
      <path id="Subtraction_1" data-name="Subtraction 1" d="M5,12H5A5.274,5.274,0,0,1,0,6.5,5.274,5.274,0,0,1,5,1V12Z" transform="translate(3680 619)"/>
      <rect id="Rectangle_18" data-name="Rectangle 18" width="2" height="11" transform="translate(3686 620)"/>
      <path id="Subtraction_5" data-name="Subtraction 5" d="M1.243,12H.045C.015,11.67,0,11.334,0,11A11,11,0,0,1,18.778,3.222,10.925,10.925,0,0,1,22,11c0,.331-.015.667-.045,1h-1.2a14.108,14.108,0,0,0-2.685-6.241A8.982,8.982,0,0,0,11,2,8.982,8.982,0,0,0,3.929,5.759,14.109,14.109,0,0,0,1.243,12Z" transform="translate(3683 609)"/>
      <path id="Subtraction_6" data-name="Subtraction 6" d="M5,0H5A5.274,5.274,0,0,0,0,5.5,5.274,5.274,0,0,0,5,11V0Z" transform="translate(3708 631) rotate(180)"/>
      <rect id="Rectangle_23" data-name="Rectangle 23" width="2" height="11" transform="translate(3700 620)"/>
      <path id="Path_8" data-name="Path 8" d="M.156-.031,2.125-1.687,2,2H0Z" transform="translate(3683 619)"/>
      <path id="Path_9" data-name="Path 9" d="M1.969-.031,0-1.687.125,2h2Z" transform="translate(3702.875 619)"/>
    </g>
  </g>
</svg>
					<span>Post Reports / Podcast</span>
				</small>
				<h2 class="article-title article-title--medium">
					<a href="#" class="article-link">Get your business to Higher levels <mark class="mark mark--tertiary">Get the market</mark></a>
				</h2>
				<div class="article-podcast-player">
					<button class="podcast-play-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M232.3125,114.34375,88.34375,26.35937A15.99781,15.99781,0,0,0,64,40.00781V215.99219a16.00521,16.00521,0,0,0,24.34375,13.64843L232.3125,141.65625a16.00727,16.00727,0,0,0,0-27.3125Z"></path></svg>
					</button>
					<div class="podcast-progression">
						
					</div>
					<span class="podcast-time">23:45</span>
				</div>
				<div class="article-podcast-info">
					Spotify, Google Podcasts, Stitcher
				</div>
				<div class="article-author">
					<div class="article-author-img">
						<img src="https://assets.codepen.io/285131/author-3.png" />
					</div>
					<div class="article-author-info">
						<dl>
							<dt>David </dt>
							<dd>Reporter</dd>
						</dl>
					</div>
				</div>
			</article>
		</div>
	</div>
</main>




<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Our Vision </h6>
        <p class="text-justify">To offer World class reliable, result-oriented 
          efficient and value-added consultancy services to all clients.</p>

        <h6>Our Mission</h6>
        <p class="text-justify">We are committed to offering reliable, result-oriented,
           efficient and value-added consultancy services to our varying clients at very 
           competitive rates.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="../ourservices/recruitment.html">Talent Acquisition</a></li>
        <li><a href="../ourservices/employeerelation.html">Employee Engagement</a></li>
        <li><a href="../ourservices/training.html">Leadership Development</a></li>
        <li><a href="../ourservices/hrstrategy.html">HR Outsourcing</a></li>
        <li><a href="../ourservices/performancemanage.html">Workforce Strategy</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="../about.html">About Us</a></li>
          <li><a href="../contact/location.html">Contact Us</a></li>
          <li><a href="../career.html">Careers</a></li>
          <li><a href="../services.html">Our Services</a></li>
          <li><a href="#">Blog/News</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2025 All Rights Reserved by 
     <a href="#">Pari Investment Company Limited</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- partial -->


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script  src="../../javascript/script.js"></script>
</body>
</html>
